<div>{{i18n 'selected'}}: <span>0</span>/<span>0</span></div>
<button type='button' data-action="add-to-merchant">
    {{i18n 'add'}}
</button>
<label>
    {{i18n 'all'}}
    <input type='checkbox' data-action="toggle-select-all">
</label>