{{#each stances as |stance|}}
<div class="stance{{#if stance.effectID}} active{{/if}}" data-effect-uuid="{{stance.effectUUID}}">
    <div class="img" style="background-image: url({{stance.img}});"></div>
    <div class="name">{{stance.name}}</div>
</div>
{{/each}}