<div class="target-header" data-target-uuid="{{uuid}}">
    <span class="name">{{name}}</span>
    <span class="controls">
        <a data-action="ping-target" data-tooltip="COMBAT.PingCombatant">
            <i class="fa-solid fa-fw fa-signal-stream"></i>
        </a>
        <a data-action="open-target-sheet" data-tooltip="PF2E.Actor.Party.Sidebar.OpenSheet">
            <i class="icon fa-solid fa-file"></i>
        </a>
    </span>
</div>