.actor.sheet section.window-content {
    .image-container .hover-icon.show-players {
        bottom: auto;
        top: 0;
    }

    .item-name a.disabled {
        opacity: 0.4;
    }

    .spellcasting-entry .action-header .item-name.with-sort {
        display: flex;
        align-items: center;
    }
}

.spellcasting-entry.preparation > .window-content form > header h1.with-sort {
    justify-content: start;
    align-items: center;
    gap: 0.1em;

    > a {
        font-size: 0.8em;
    }

    .flexible-available {
        flex: 1;
        text-align: end;
    }
}

.application.dialog.pf2e-toolbelt.toolbelt-split-item {
    .form-fields {
        flex: 0;

        input {
            width: 8ch;
            text-align: end;
        }
    }
}

.application.dialog.pf2e-toolbelt.toolbelt-merge-items {
    --highlight: #ffffff14;

    .dialog-content {
        gap: 0.5em;
    }

    .item {
        display: flex;
        align-items: center;
        gap: 0.5em;

        img {
            height: 2em;
        }

        .name {
            flex: 1;
        }

        &:hover {
            background: var(--highlight);
        }
    }
}

body.theme-light {
    .application.dialog.pf2e-toolbelt.toolbelt-merge-items {
        --highlight: #00000014;
    }
}
