body.pf2e-toolbelt-scribble .sheet.actor.character {
    header.window-header {
        font-family: "Handlee";
    }

    section.window-content form.crb-style {
        font-family: "Handlee";

        header.char-header {
            .char-details {
                font-family: "Handlee";

                h1.char-name {
                    input[type="text"] {
                        font-family: "Handlee";
                    }
                }
            }

            .char-level {
                .exp-data .exp-input input {
                    font-family: "Handlee";
                }

                .level {
                    label,
                    input {
                        font-family: "Handlee";
                    }
                }
            }
        }

        aside {
            font-family: "Handlee";

            .sidebar {
                header {
                    h2,
                    button {
                        font-family: "Handlee";
                    }

                    button {
                        padding-block: var(--space-3) var(--space-1);
                    }
                }

                .sidebar_label {
                    font-family: "Handlee";
                }

                .armor-class {
                    .ac,
                    .shield {
                        .data-value {
                            h2,
                            input {
                                font-family: "Handlee";
                            }
                        }
                    }
                }
            }
        }

        .pf-rank {
            font-family: "Handlee";
            padding-block: var(--space-3) var(--space-1);
        }

        select {
            font-family: "Handlee";
            padding-block: var(--space-3) var(--space-1);
        }

        nav.sheet-navigation {
            .item {
                border-radius: 108px 72px 111px;
            }
        }

        i,
        svg {
            transform: rotate(-5deg);
        }
    }
}
