.sheet.actor.character .sheet-body .sheet-content {
    [data-tab="actions"] .tab-content .actions-panels [data-tab="encounter"] {
        header.heroActions-header {
            button {
                &.draw {
                    @keyframes heroActionsDraw {
                        from {
                            box-shadow: 0 0 1px 1px #618f52;
                        }
                        to {
                            box-shadow: 0 0 3px 3px #618f52;
                        }
                    }

                    animation: heroActionsDraw 0.75s infinite alternate;
                }

                &.give {
                    background: var(--visibility-gm-bg);
                    border: 1px dotted rgba(75, 74, 68, 0.5);
                }
            }
        }

        ol.actions-list.heroActions-list {
            .action {
                grid:
                    "icon-name controls" auto
                    "summary summary" auto;

                .item-name {
                    grid-area: icon-name;
                    display: flex;
                    align-items: center;
                    gap: 0.3em;

                    h4 {
                        white-space: nowrap;
                        cursor: pointer;
                        margin: 0.1em 0 0 0;

                        &:hover {
                            color: var(--color-pf-primary);
                        }
                    }
                }

                .item-image {
                    height: 20px;
                    width: 20px;
                    background-position: center;
                }

                .item-controls {
                    button {
                        text-rendering: optimizeLegibility;
                        border: none;
                        border-radius: 0;
                        box-shadow: inset 0 0 0 2px #9d9d9d;
                        color: var(--text-dark);
                        flex: 0;
                        font-family: var(--sans-serif);
                        font-size: var(--font-size-10);
                        font-weight: 600;
                        letter-spacing: 0.05em;
                        line-height: 14px;
                        margin: 0;
                        padding: 4px 6px 3px;
                        text-transform: uppercase;
                        white-space: nowrap;
                        background: var(--bg-dark);
                    }
                }

                &.discarded {
                    background-color: #00000021;

                    .item-name h4,
                    .item-controls button {
                        color: grey;
                        text-decoration: line-through;
                    }
                }

                &:not(.discarded) {
                    .item-controls {
                        button {
                            &.discard {
                                @keyframes heroActionsDiscard {
                                    from {
                                        box-shadow: 0 0 1px 1px #8f5252;
                                    }
                                    to {
                                        box-shadow: 0 0 3px 3px #8f5252;
                                    }
                                }

                                animation: heroActionsDiscard 0.75s infinite alternate;
                            }

                            &:hover {
                                text-shadow: 0 0 1px var(--text-dark);
                            }
                        }
                    }
                }
            }
        }
    }
}

[id^="pf2e-toolbelt.heroActions.trade."] {
    .action {
        display: flex;
        align-items: baseline;

        [data-action="description"] {
            cursor: help;

            &:hover {
                color: var(--primary);
            }
        }

        input {
            margin-inline: 0.3em;
        }
    }
}

[id="pf2e-toolbelt.heroActions.trade.dialog"] {
    .dialog-content {
        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
        }

        .actions {
            --padding: 6px;

            display: grid;
            grid-template-columns: 1fr 40px 1fr;
            flex-basis: 93px;
            gap: 6px;
            border-top: 1px solid var(--color-border-light-primary);
            border-bottom: 1px solid var(--color-border-light-highlight);
            padding-block: var(--padding);
            margin-block: 0.5em;

            .action {
                padding-block: 4px;
            }

            .right {
                .action {
                    justify-content: end;
                }

                &:not(.selected) {
                    display: none;
                }
            }

            .exchange {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2em;
                border-left: 1px solid var(--color-border-light-primary);
                border-right: 1px solid var(--color-border-light-highlight);
            }

            hr {
                width: 100%;
                flex: 0;
            }
        }
    }
}

[id="pf2e-toolbelt.heroActions.trade.request.dialog"] {
    .dialog-content {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
    }

    .dialog-buttons {
        margin-top: 0.5em;
    }
}

[id="pf2e-toolbelt.heroActions.giveActions.dialog"] {
    --padding: 8px;

    max-height: 98%;

    .window-content {
        padding: 0;
    }

    .dialog-content {
        display: flex;
        flex-direction: column;
        overflow: hidden auto;

        input[type="checkbox"] {
            width: 1.2em;
        }

        .actions {
            overflow-y: auto;
            padding-inline: var(--padding);
            margin-block: calc(var(--padding) / 2);
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .action {
            display: grid;
            grid-template-areas:
                "item-select item-name item-drawn"
                "item-summary item-summary item-summary";
            grid-template-rows: auto auto;
            grid-template-columns: auto 1fr auto;

            &.drawn {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    background: rgba(0, 0, 0, 0.1490196078);
                    border-radius: 4px;
                    pointer-events: none;
                    top: -1px;
                    left: 0;
                    right: 0;
                    height: 2em;
                }
            }

            &:not(.drawn) {
                .item-drawn {
                    color: var(--color-text-light-primary);
                }
            }

            .item-select {
                grid-area: item-select;
                align-self: baseline;
                margin-inline: 0.5em;
                z-index: 1;
            }

            .item-name {
                cursor: pointer;
                grid-area: item-name;

                &:hover {
                    color: var(--primary);
                }
            }

            .item-name,
            .item-drawn {
                display: flex;
                align-items: center;
            }

            .item-drawn {
                margin-right: 0.2em;
            }

            .item-summary {
                grid-area: item-summary;
                box-shadow: 0 0 4px 0px black;
                padding: 1px 6px;
                margin-bottom: 0.5em;
            }
        }

        hr {
            width: 100%;
            margin: 0;
        }

        .buttons {
            padding-inline: var(--padding);

            > div {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;

                span {
                    font-weight: bold;
                }
            }
        }
    }

    .dialog-buttons {
        flex: 0;
        padding: var(--padding);
    }
}

[id="pf2e-toolbelt.heroActions.removeActions.dialog"] {
    .dialog-content {
        label {
            display: flex;
            align-items: center;
        }
        .actor {
            margin-left: 1em;
        }
    }

    .dialog-buttons {
        margin-top: 0.8em;
    }
}
