.chat-message .message-content .damage-roll {
    .dice-result {
        .dice-total {
            .total.clickable:hover {
                cursor: pointer;
                box-shadow: inset 0 0 4px var(--primary);
            }
        }
    }
}
