.app.sheet.actor.character .sheet-content > .tab[data-tab='inventory'] {
    > .alternate {
        --gap: 5px;
        --cell-padding: 3px;
        --border-radius: 4px;
        --item-cell-size: 44px;

        .test {
            background-color: #33c43f6c;
        }

        @mixin inventory-grid($cell-width) {
            display: grid;
            grid-template-columns: repeat(auto-fill, $cell-width);
        }

        @mixin greyed-out {
            filter: grayscale(1) opacity(0.7);
        }

        @mixin item-mask($color, $opacity: 0.3) {
            &::after {
                position: absolute;
                content: '';
                inset: 0;
                background-color: $color;
                border-radius: var(--border-radius);
                opacity: $opacity;
            }
        }

        margin-top: -6px;
        padding: 2px;
        overflow: hidden scroll;
        width: 100%;

        flex: 1;
        display: flex;
        flex-direction: column;

        hr {
            width: 100%;
            margin: 0;
        }

        .item .inner-item,
        .equipped-items .main-items .large .fake {
            background-color: #9b9b9b;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            box-shadow: inset 0 0 2px 0px #000, inset 0 0 6px 0px #fff;
            border-radius: var(--border-radius);
        }

        .item {
            --common: #fff;
            --uncommon: #ff8664;
            --rare: #002eff;
            --unique: #c63cff;

            --rarity-color: var(--common);

            --color-valid: #33c43f;
            --color-invalid: #ff0000;

            padding: var(--cell-padding);

            .inner-item {
                position: relative;
                aspect-ratio: 1/1;

                &:not(.common) {
                    box-shadow: inset 0 0 6px 1px var(--rarity-color);
                }

                &.uncommon {
                    --rarity-color: var(--uncommon);
                }

                &.rare {
                    --rarity-color: var(--rare);
                }

                &.unique {
                    --rarity-color: var(--unique);
                }

                .vignette {
                    position: absolute;
                    background-color: #000000b5;
                    color: #fff;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    height: 1.2em;
                    white-space: nowrap;
                    font-family: var(--sans-serif);
                    border-radius: var(--border-radius);

                    &.icon {
                        height: 1.15em;
                        aspect-ratio: 1/1;

                        i {
                            position: absolute;
                            inset: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    &.equip {
                        left: -2px;
                        top: -2px;

                        i {
                            font-size: 0.9em;
                        }
                    }

                    &.uses {
                        font-size: 0.7em;
                        inset: -2px 0 auto 0;
                        border-radius: var(--border-radius) var(--border-radius) 0 0;
                    }

                    &.capacity {
                        font-size: 0.7em;
                        inset: auto 0 0 0;
                        border-radius: 0 0 var(--border-radius) var(--border-radius);
                    }

                    &.quantity {
                        width: 3ch;
                        font-size: 0.8em;
                        bottom: -2px;
                        right: -2px;
                    }

                    &.hands {
                        top: -2px;
                        right: -2px;

                        i {
                            &.hand {
                                clip-path: polygon(0 0, 100% 0, 100% 87%, 0 87%, 0 0);
                                font-size: 0.9em;
                            }

                            &.number {
                                color: black;
                                font-size: 0.65em;
                                left: 2px;
                                bottom: 1px;
                            }
                        }
                    }

                    &:not(input) {
                        pointer-events: none;
                    }
                }
            }

            &.ghost {
                .inner-item {
                    @include item-mask(var(--color-valid));

                    .vignette {
                        display: none;
                    }
                }
            }

            &:not(.ghost) {
                &.dragged {
                    .inner-item {
                        @include greyed-out;
                    }
                }
            }

            &.invested {
                .vignette.equip {
                    .equipped {
                        display: none;
                    }
                }
            }

            &:not(.invested) {
                .vignette.equip {
                    .invested {
                        display: none;
                    }
                }
            }
        }

        .equipped-items {
            @include inventory-grid(var(--item-cell-size));
            grid-template-rows: var(--item-cell-size) repeat(auto-fill, var(--item-cell-size));

            margin-bottom: var(--gap);

            .main-items {
                grid-column: span 6;
                grid-row: span 2;

                display: grid;
                grid-template-columns: repeat(auto-fill, var(--item-cell-size));

                .large {
                    grid-column: span 2;
                    grid-row: span 2;
                    padding: var(--cell-padding);

                    .item {
                        &:not(.fake) {
                            padding: 0;
                        }

                        &.fake {
                            aspect-ratio: 1/1;
                            position: relative;

                            &:not(:only-child) {
                                display: none;
                            }
                        }
                    }

                    &.hand {
                        .fake {
                            background-image: url(/icons/skills/melee/unarmed-punch-fist.webp);
                        }

                        &.right {
                            .item[data-two-hands='true'] {
                                @include greyed-out();

                                .vignette.equip {
                                    display: none;
                                }
                            }

                            .fake {
                                transform: scaleX(-1);
                            }
                        }
                    }

                    &.armor {
                        .fake {
                            background-image: url(/icons/equipment/chest/shirt-simple-grey.webp);
                        }
                    }

                    &.valid {
                        .inner-item,
                        .fake {
                            @include item-mask(var(--color-valid));
                        }
                    }

                    &.invalid {
                        .inner-item,
                        .fake {
                            @include item-mask(var(--color-invalid));
                        }
                    }

                    &:not(.valid):not(.invalid) {
                        .item {
                            &.fake {
                                @include greyed-out;
                            }
                        }
                    }

                    .inner-item {
                        .vignette {
                            font-size: 1.2em;

                            &.hands {
                                display: none;
                            }

                            &.equip {
                                font-size: 1.4em;
                            }

                            &.quantity {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }

            .item {
                &.add {
                    .inner-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        color: #363636;
                        box-shadow: inset 0 0 6px 1px #363636;

                        .equip {
                            font-size: 1.6em;
                        }

                        .invest {
                            font-size: 1.6em;
                        }

                        .forbidden {
                            font-size: 1.8em;
                        }
                    }
                }
            }

            &:not(.show) {
                .item.add {
                    display: none;
                }
            }

            &:not(.add-equip) {
                .item.add .equip {
                    display: none;
                }
            }

            &:not(.add-invest) {
                .item.add .invest {
                    display: none;
                }
            }

            &:not(.add-forbidden) {
                .item.add .forbidden {
                    display: none;
                }
            }
        }

        .container-tab {
            flex: 1;
            display: flex;
            flex-direction: column;

            &:not(.active) {
                display: none;
            }

            .containers {
                @include inventory-grid(54px);

                margin-block: var(--gap);

                .container {
                    &.small {
                        transform: scale(0.8);
                    }

                    &:not([data-container-id]),
                    &.back {
                        filter: grayscale(1);
                    }

                    &.back {
                        .inner-item::after {
                            position: absolute;
                            content: '';
                            background-image: url(/systems/pf2e/icons/other/enter-exit.svg);
                            background-position: center 20%;
                            background-repeat: no-repeat;
                            background-size: 60%;
                            inset: 0;
                            transform: scaleX(-1);
                        }
                    }

                    &.valid {
                        .inner-item {
                            @include item-mask(var(--color-valid));
                        }
                    }

                    &.invalid {
                        .inner-item {
                            @include item-mask(var(--color-invalid));
                        }
                    }
                }
            }

            .items-list {
                flex: 1;
                margin-bottom: calc(var(--item-cell-size) + var(--gap));
                margin-top: var(--gap);

                .items-grid {
                    @include inventory-grid(var(--item-cell-size));
                }
            }
        }
    }
}

#pf2e-toolbelt-inventory-cursor-image {
    width: 32px;
    aspect-ratio: 1/1;
    position: fixed;
    border-radius: 4px;
    z-index: 2147483647;
    opacity: 0.7;
    pointer-events: none;
    left: -10000px;
}

#pf2e-toobelt-inventory-item-details {
    position: absolute;
    z-index: 100;
    top: 20%;
    left: 0;
    right: 0;

    background: #000;
    border-radius: 4px;
    box-shadow: 0 0 0px 1px var(--sidebar-title), 0 0 6px black;

    padding: 4px 6px;

    .header {
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid var(--sidebar-title);
    }
}
