.multi-cast-dialog {
    .hint {
        display: grid;
        align-items: center;
        column-gap: 0.5em;
        grid-template-columns: 30px auto;
        padding-inline: 0.5em 0.7em;
        font-size: 1.05em;
        white-space: nowrap;

        input {
            text-align: center;
        }
    }

    .buttons {
        display: flex;
        margin-top: 0.6em;
    }
}

.chat-message {
    .pf2e-toolbelt-merged-group {
        padding-inline: 3px;
        margin-bottom: 4px;
        box-shadow: 0 0 4px 0px black;
        border-radius: 2px;

        .notes {
            min-height: 2px;
        }
    }

    .message-content {
        .dice-result {
            .dice-total {
                .pf2e-toolbelt-merge {
                    position: absolute;
                    right: 0px;
                    top: 1px;
                    display: flex;
                    gap: 1px;

                    button {
                        width: 22px;
                        height: 22px;
                        font-size: 10px;
                        line-height: 1px;
                    }
                }

                .pf2e-td.hide-button + .pf2e-toolbelt-merge,
                .pf2e-toolbelt-merge:has(+ .pf2e-td.hide-button) {
                    right: 22px;
                }
            }
        }
    }
}
