.sheet.actor.loot .window-content {
    .sheet-sidebar {
        .better-merchant {
            label {
                white-space: nowrap;
            }

            input[type='number'] {
                flex: 0 4ch;
                text-align: center;
            }

            .buy-items {
                display: grid;
                grid-template-columns: 1fr 33px;
                align-items: center;
                justify-items: center;
                margin-top: 3px;
            }

            button {
                padding-block: 0;
            }
        }
    }

    .sheet-body .inventory-list .items {
        .data .item-controls {
            [data-action='toggle-infinite-item'] {
                margin-left: 4px;
            }
        }
    }
}

[id^='pf2e-toolbelt-buy-'] {
    width: 800px;
    height: 700px;

    .window-content {
        padding: 8px 4px 8px 8px;
    }

    .buy-content {
        display: grid;
        grid-template-columns: 320px auto;
        min-height: 100px;
        height: 100%;
        column-gap: 0.3em;
    }

    .filters {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        overflow-x: hidden;
        padding-right: 4px;

        .filter {
            padding: 0.2em 0.3em;
            border: 1px solid var(--color-border-light-tertiary);
            border-radius: 3px;
            display: flex;
            flex-direction: column;

            > * {
                padding-inline: 0.3em;
            }

            .header {
                .name {
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    justify-self: start;
                    display: flex;
                    align-items: center;
                    gap: 0.3em;
                }
            }

            &:not(.expanded) {
                .summary {
                    display: none;
                }

                hr:first-of-type {
                    display: none;
                }
            }

            .summary {
                padding-inline: 0.6em;
                font-style: italic;
                background: #0000000f;
                border-radius: 1px;
            }

            hr {
                width: 100%;
                margin-block: 0.2em;
            }

            .menu {
                display: grid;
                grid-template-columns: 1fr auto auto 3em 2.5em;
                justify-items: center;
                column-gap: 1em;

                > * {
                    display: flex;
                    align-items: center;
                    gap: 0.3em;

                    > input[type='number'] {
                        height: 1.2em;
                        padding-block: 0 1px;
                    }
                }

                .purse {
                    input {
                        width: 7ch;
                        text-align: end;
                    }
                }

                .price {
                    input {
                        width: 4ch;
                        text-align: center;
                    }
                }

                .arrows {
                    > * {
                        display: inline-flex;
                    }

                    i {
                        font-size: 1.8em;
                        line-height: 0;
                    }
                }

                .arrows,
                .controls {
                    span {
                        color: grey;
                    }
                }

                .buy-all {
                    grid-column: -2/-1;
                    justify-self: end;
                    margin-right: 0.3em;

                    span {
                        white-space: nowrap;
                    }

                    input {
                        margin: 0 0 1px;
                        height: 1.2em;
                        width: 1.2em;
                    }
                }
            }
        }
    }

    .control-area {
        position: sticky;
        display: block;
        min-width: 320px;
        width: 320px;
        padding-right: 5px;
        overflow: auto;
        grid-column-start: 1;

        dl {
            margin: 5px 0;
        }

        dt {
            display: inline-block;
            padding-left: 5px;
        }

        dd {
            display: inline-block;
            text-transform: capitalize;
        }

        .sortcontainer {
            padding-right: 1px;

            input {
                margin: 0 0px 5px 2px;
            }
        }

        .filtercontainer {
            border: 1px solid #bbb;
            border-radius: 5px;
            margin-top: 5px;
            padding: 2px;

            div.title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 22px;

                h3 {
                    margin: 0;
                    cursor: pointer;
                }
            }

            dt {
                width: 10%;
            }

            dd {
                width: 82%;
            }

            > dl {
                dt {
                    > input[type='checkbox'] {
                        transform: none;
                        flex: none;
                        height: auto;
                        margin: 3px 3px;
                    }
                }
            }

            tags.tagify {
                min-height: 27px;
            }

            &.rangecontainer {
                .title + div {
                    margin-top: 5px;
                }

                input {
                    width: 45%;
                    text-align: center;
                }
            }

            .filter-conjunction {
                input[type='radio'] {
                    margin: 0 5px 0 3px;
                }
            }
        }

        .slidercontainer-flex {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            margin-top: 0.3rem;

            label {
                width: 10px;
            }

            [class^='slider-'] {
                height: 10px;
                width: 80%;
                border: 1px solid black;

                .noUi-base {
                    background: #dddddd;

                    .noUi-connect {
                        &.range_selected {
                            background: rgba(255, 255, 240, 0.8);
                        }
                    }

                    .noUi-origin {
                        .noUi-handle {
                            background: #c85019;
                            border-radius: 2px;
                            border: 1px solid black;
                            box-shadow: 1px 1px 4px black;
                            color: var(--text-light);
                            cursor: grab;
                            font-size: var(--font-size-16);
                            height: 14px;
                            right: -7px;
                            text-shadow: 0 0 4px black;
                            top: -4px;
                            width: 14px;

                            &::before,
                            &::after {
                                background: none;
                            }

                            .noUi-touch-area {
                                cursor: pointer;
                            }
                        }
                    }

                    .noUi-connect {
                        background: #b9b9b9;
                    }

                    .noUi-tooltip {
                        display: none;
                    }

                    .noUi-active {
                        .noUi-tooltip {
                            display: block;
                            background-color: rgba(0, 0, 0, 0.9);
                            color: var(--text-light);
                            line-height: 18px;
                            padding: 6px 14px;
                        }
                    }
                }
            }
        }
    }
}

#compendium-browser > section.window-content > .content-box.toolbelt-merchant {
    & > nav {
        display: none;
    }

    & > section.content {
        height: 100%;
    }

    #tagfilter {
        > dl {
            margin-top: 0;
        }
    }

    .spell-browser {
        .list-buttons {
            width: auto;
            display: grid;
            grid-template-columns: auto auto auto;
            align-items: center;
            column-gap: 2em;
            right: 18px;

            > label,
            > div {
                display: flex;
                align-items: center;
                white-space: nowrap;
                font-weight: bold;
                gap: 0.3em;

                input[type='checkbox'] {
                    margin: 0;
                    flex: 0 14px;
                }
            }
        }

        ul.result-list {
            height: calc(100% - 24px);

            .item {
                > input[type='checkbox'],
                > i {
                    margin: 0 0.5em;
                    flex: 0 14px;
                }

                > i {
                    cursor: default;
                }
            }
        }
    }
}
