.app.sheet.actor.character {
    section.window-content .sheet-body .sheet-content {
        > .tab.active.spellcasting {
            nav {
                [data-tab="spells-summary"] {
                    display: none;
                }

                &:has([data-tab="spells-summary"].active) {
                    display: none;
                }
            }

            > .spell-collections > .tab[data-tab="spells-summary"] {
                > ol.spell-list {
                    gap: 0;
                    border: none;
                    margin-bottom: 2em;

                    > li {
                        grid-template-columns: 1fr 5rem 5.5rem min-content 3.5rem;

                        & + .header-row {
                            margin-top: 0.5em;
                        }

                        &.header-row {
                            .cast-spell {
                                opacity: 0;
                                pointer-events: none;
                                cursor: default;
                            }

                            .pips {
                                display: flex;
                                gap: var(--space-1);
                                margin-top: 1px;

                                &.focus-pool {
                                    cursor: pointer;
                                }
                            }

                            .uses {
                                margin-right: 0.3rem;
                            }
                        }

                        &:not(.header-row) {
                            .uses {
                                font-size: 0.9em;

                                input {
                                    font-size: 0.9em;
                                }

                                a.disabled {
                                    pointer-events: none;
                                    cursor: default;
                                    color: gray;
                                }
                            }
                        }

                        .category {
                            justify-self: start;
                            gap: 0.3em;
                        }

                        .range {
                            justify-self: end;

                            span {
                                margin-right: 0.7em;
                            }
                        }

                        &.virtual {
                            backdrop-filter: blur(8px) hue-rotate(210deg) saturate(2);
                        }
                    }
                }
            }
        }
    }
}
