.app.sheet.actor.character .sheet-content .tab.actions .tab-content .tab[data-tab="encounter"] {
    .pf2e-stances {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em 1em;
        justify-content: center;

        .stance {
            display: flex;
            align-items: center;
            gap: 0.5em;
            box-shadow: 0 0 4px black;
            padding-right: 0.5em;
            cursor: pointer;

            .img {
                flex: 0 0 32px;
                height: 32px;
                width: 32px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .name {
                flex: 1;
                white-space: nowrap;
            }

            &.active {
                box-shadow: inset 0 0 4px black;

                .img {
                    border: 1px solid transparent;
                }

                .name {
                    color: var(--primary);
                }
            }

            &:hover {
                .name {
                    color: var(--primary);
                }
            }
        }

        &[data-tooltip] {
            .stance {
                box-shadow: 0 0 1px black;
                cursor: not-allowed;

                > * {
                    filter: grayscale(1) blur(1px);
                }

                .img {
                    border: 0;
                }
            }
        }
    }
}

[id="pf2e-toolbelt.stances.opening.dialog"] {
    .dialog-content {
        display: flex;
        flex-direction: column;

        > div {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }

        label {
            display: flex;
            align-items: baseline;
            gap: 0.3em;
        }
    }
}
