#pf2e-toolbelt-target-template.app.dialog {
    .window-content {
        .dialog-content {
            display: flex;
            justify-content: space-between;
            margin-right: 5px;

            .left,
            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            label {
                display: flex;
                align-items: center;
                white-space: nowrap;

                input {
                    flex: 0 0 20px;
                    width: 20px;
                    margin-inline: 5px;

                    &[type='radio'] {
                        inset: 0;
                    }

                    &[type='checkbox'] {
                        height: 1.2em;
                    }
                }
            }
        }

        .dialog-buttons {
            margin-top: 0.5em;
        }
    }
}

.chat-message {
    .message-content {
        .card-buttons {
            .pf2e-toolbelt-target-wrapper {
                display: flex;

                .pf2e-toolbelt-target-targets {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0;

                    i {
                        margin: 0;
                    }
                }
            }
        }

        .dice-result {
            .dice-total {
                .pf2e-toolbelt-target-targets {
                    width: 22px;
                    height: 22px;
                    font-size: 13px;
                    line-height: 1px;
                    position: absolute;
                    left: 0px;
                    top: 1px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        margin: 0;
                    }
                }
            }
        }

        + .pf2e-toolbelt-target-damage,
        + .pf2e-toolbelt-target-spell {
            --criticalSuccess: rgb(0, 128, 0);
            --success: rgb(0, 0, 255);
            --failure: rgb(255, 69, 0);
            --criticalFailure: rgb(255, 0, 0);

            hr {
                width: 100%;
            }

            .target-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 0.3em 0.5em;
                font-size: 0.9em;
                gap: 0.5em;

                .name {
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .controls {
                    display: flex;
                    gap: 0.5em;

                    hr {
                        width: 0;
                        border: none;
                        border-left: 1px solid var(--color-border-light-primary);
                        border-right: 1px solid var(--color-border-light-highlight);
                        margin: 2px 0;
                    }

                    .criticalSuccess {
                        color: var(--criticalSuccess);
                    }

                    .success {
                        color: var(--success);
                    }

                    .failure {
                        color: var(--failure);
                    }

                    .criticalFailure {
                        color: var(--criticalFailure);
                    }

                    i {
                        &.small {
                            font-size: 0.95em;
                        }
                    }
                }
            }
        }

        + .pf2e-toolbelt-target-damage {
            .target-damage-application {
                display: flex;
                justify-content: center;
                margin-top: 3px;

                button {
                    position: relative;
                    font-size: var(--font-size-18);
                    line-height: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-inline: 0;
                    padding-block: 0.3em calc(0.3em - 2px);

                    span {
                        font-size: 0.5em;
                        font-weight: 500;
                        text-transform: uppercase;
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        inset: 0;
                        border-radius: 2px;
                    }
                }

                &.success {
                    [data-action='target-half-damage'] {
                        &::after {
                            box-shadow: inset 0 0 6px var(--success);
                        }
                    }
                }

                &.failure {
                    [data-action='target-apply-damage'] {
                        &::after {
                            box-shadow: inset 0 0 6px var(--failure);
                        }
                    }
                }

                &.criticalFailure {
                    [data-action='target-double-damage'] {
                        &::after {
                            box-shadow: inset 0 0 6px var(--criticalFailure);
                        }
                    }
                }
            }
        }
    }
}
