[id="pf2e-toolbelt.templateHelper.menu.dialog"] {
    header.window-header {
        flex: 1 2em;
        --button-size: 12px;
    }

    .window-content {
        padding: 0.5em;
    }

    .dialog-form {
        gap: 0.5em;
    }

    .dialog-content {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0.3em;

        .left,
        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        label {
            display: flex;
            align-items: center;
            white-space: nowrap;

            input {
                &[type="radio"] {
                    margin-inline: 0.3em;
                    inset: 0;
                }

                &[type="checkbox"] {
                    height: 1.2em;
                }
            }
        }
    }

    footer.form-footer {
        > button {
            min-width: auto;
            height: auto;
        }
    }
}
