[id^='npc-edit-lores-'] {
    .hint {
        font-size: 0.9em;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .lores {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5em;
        align-items: center;

        label {
            text-align: end;
        }
    }

    .buttons {
        display: flex;
        margin-top: 0.6em;
    }
}
