.application.dialog.pf2e-toolbelt {
    min-width: 400px;

    .window-content {
        .form-group {
            white-space: nowrap;
        }
    }
}

@import "./actionable";
@import "./anonymous";
@import "./better-merchant";
@import "./better-sheet";
@import "./better-template";
@import "./character_importer";
@import "./condition-manager";
@import "./hero-actions";
@import "./identify";
@import "./merge-damage";
@import "./resource-tracker";
@import "./roll-tracker";
@import "./scribble-sheet";
@import "./shareData";
@import "./target-helper";
