.sheet.actor.character .sheet-body .sheet-content {
    [data-tab='actions'] .tab-content .actions-panels [data-tab='encounter'] .pf2e-stances {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em 1em;
        justify-content: center;

        &:first-child {
            margin-top: 0.5em;
        }

        .pf2e-stances__stance {
            display: flex;
            align-items: center;
            gap: 0.5em;
            box-shadow: 0 0 4px black;
            padding-right: 0.5em;
            cursor: pointer;

            .pf2e-stances__img {
                flex: 0 0 32px;
                height: 32px;
                width: 32px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .pf2e-stances__name {
                flex: 1;
                white-space: nowrap;
            }

            &.active {
                box-shadow: inset 0 0 4px black;

                .pf2e-stances__img {
                    border: 1px solid transparent;
                }

                .pf2e-stances__name {
                    color: var(--primary);
                }
            }
        }

        &:not(.can-use-stances) {
            .pf2e-stances__stance {
                box-shadow: 0 0 1px black;
                cursor: not-allowed;

                > * {
                    filter: grayscale(1) blur(1px);
                }

                .pf2e-stances__img {
                    border: 0;
                }
            }
        }
    }
}

.app.window-app.dialog {
    .window-content {
        .dialog-content {
            .pf2e-stances-menu {
                margin-bottom: 0.5em;

                label {
                    height: 24px;
                    display: block;
                }

                input {
                    margin-right: 0.5em;
                }
            }
        }
    }
}
