.app.sheet.actor.character .sheet-content > .tab[data-tab='spellcasting'] {
    &.toggled {
        > .directory-list:not(.summary) {
            display: none;
        }
    }

    &:not(.toggled) {
        > .directory-list.summary {
            display: none;
        }
    }

    > .directory-list.summary {
        .spellbook-header .item-controls {
            padding: 0;
        }

        .virtual {
            position: relative;

            &:before {
                background-color: rgba(0, 5, 255, 0.114);
                content: '';
                height: 100%;
                mix-blend-mode: saturation;
                pointer-events: none;
                position: absolute;
                width: 100%;
            }
        }

        .focus-pips {
            cursor: pointer;
            margin-left: 0.3em;
            margin-top: 1px;
        }

        .item {
            grid:
                'name type cast-spell range' auto
                'content content content content' auto/10fr 6fr 2fr 4fr;

            .spell-type {
                grid-area: type;
            }

            .cast-spell {
                grid-area: cast-spell;
            }

            .spell-range {
                grid-area: range;
                text-align: end;
            }

            .item-controls {
                padding-right: 0;
                white-space: nowrap;
            }

            .uses-label {
                .broken {
                    margin-left: 0.3em;
                }
            }

            &.ritual:not(.spell-level-header) {
                .spell-range {
                    padding-right: 1em;
                }
            }

            &:not(.no-hover),
            &.amped {
                &:not(:hover):not(.hover) {
                    .spell-type {
                        .uses {
                            display: none;
                        }
                    }
                }

                &:hover,
                &.hover {
                    .spell-type {
                        .uses-label,
                        .focus-label {
                            display: none;
                        }
                    }
                }
            }
        }

        .expended {
            .item-name,
            .uses-label,
            .spell-range {
                color: var(--color-disabled);
                text-decoration: line-through;
            }
        }

        .cast-spell:disabled {
            background: var(--color-disabled);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
            cursor: not-allowed;
        }

        .spell-type {
            .item-toggle-prepare {
                margin-left: 0.25em;
                color: var(--body);
            }
        }
    }
}
