{{#if merged}}
<button data-action="split-damage" title="{{@root.i18n 'split'}}">
    <i class="fa-duotone fa-split"></i>
</button>
{{else}}
<button data-action="inject-damage" title="{{@root.i18n 'inject'}}">
    <i class="fa-solid fa-syringe"></i>
</button>
{{/if}}
<button data-action="merge-damage" title="{{@root.i18n 'merge'}}">
    <i class="fa-duotone fa-merge"></i></button>
</button>