<span class="pf2e-toolbelt-merge-buttons">
    {{#if merged}}
    <button data-action="split-damage" title="{{i18n 'split'}}">
        <i class="fa-duotone fa-split"></i>
    </button>
    {{/if}}
    <button data-action="merge-damage" title="{{i18n 'merge'}}">
        <i class="fa-duotone fa-merge"></i></button>
    </button>
</span>