<div class="requested">
    <div class="img">
        <img src="{{item.img}}">
    </div>
    <div class="hint">
        <div>{{@root.i18n 'hint'}}:</div>
        <strong>{{item.name}}</strong>
        <div>{{@root.i18n 'proceed'}}</div>
    </div>
</div>